:root {
    /* pallet */
    --clr-primary: #ff9326;
    --clr1: #ffffff;
    --clr-1: #e3e3e3;
    --clr-2: #000000;

}

* {
    box-sizing: border-box;
}

/* TYPOGRAPHY */

@font-face {
    font-family: montserrat-reg;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat-med;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf);
}

@font-face {
    font-family: montserrat-lite;
    src: url(/fonts/Montserrat/Montserrat-Light.ttf);
}

/* BASICS  */

html {
    color: var(--clr1);
    font-family: montserrat-reg, sans-serif;
}

body {
    margin: 0;
    font-size: 1.1875rem;
    min-height: 100vh;
}

input,
select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5em;
    line-height: 1.3;
    color: var(--clr-2);
    text-align: center;
}

/* BUTTONS */
button,
.btn {
    margin: 0;
    font-family: montserrat-med, sans-serif;
    line-height: normal;
    text-align: center;
    color: var(--clr1);
    border: none;
    padding: 0.5em 1.3em;
    background-color: var(--clr-primary);
    cursor: pointer;
    border-radius: 10px;
}

.icon-btn {
    background-color: var(--clr1);
    padding-left: 0.7em;
    padding-right: 0.7em;
    width: 60px;
}

/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.flex.flex-col {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

/* list helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* hide helpers */

.hidden {
    display: none;
}

/* LAYOUT */

main {
    flex-grow: 1;
    background-color: var(--clr-1);
}

.main-section-layout {
    background-color: var(--clr-1);
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.colored-section {
    background-color: var(--clr-primary)
}

/* gallery header  */
.gallery-header {
    justify-content: space-between;
    margin-bottom: 10px;
}

/* meme editor  */

.meme-editor {
    flex-direction: column;
    gap: 10px;
}

.meme-editor .editor-tools {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        'txt-input txt-input txt-input txt-input txt-input'
        'ln-up ln-down ln-select add-ln dlt-ln'
        'pls-fnt mns-fnt aln-lft aln-ctr aln-rt'
        'slct-fnt slct-fnt slct-fnt strk-clr fill-clr'
        'save-btn save-btn save-btn share-btn share-btn';
    gap: 10px;
}

/* editor tools  */

.editor-tools {
    align-self: center;
    width: auto;
}

.editor-tools>* {
    height: 60px;
}

.editor-tools .input-hider>* {
    height: 60px;
    width: 60px;
}

.editor-tools .txt-input {
    grid-area: txt-input;
    font-size: 1em;
}

.editor-tools .ln-up {
    grid-area: ln-up;
}
.editor-tools .ln-down {
    grid-area: ln-down;
}
.editor-tools .ln-select {
    grid-area: ln-select;
}
.editor-tools .add-ln {
    grid-area: add-ln;
}
.editor-tools .dlt-ln {
    grid-area: dlt-ln;
}
.editor-tools .pls-fnt {
    grid-area: pls-fnt;
}
.editor-tools .dlt-ln {
    grid-area: dlt-ln;
}
.editor-tools .mns-fnt {
    grid-area: mns-fnt;
}
.editor-tools .aln-lft {
    grid-area: aln-lft;
}
.editor-tools .aln-ctr {
    grid-area: aln-ctr;
}
.editor-tools .aln-rt {
    grid-area: aln-rt;
}
.editor-tools .slct-fnt {
    grid-area: slct-fnt;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.editor-tools .strk-clr {
    grid-area: strk-clr;
}
.editor-tools .fill-clr {
    grid-area: fill-clr;
}
.editor-tools .share-btn {
    grid-area: share-btn;
}
.editor-tools .save-btn {
    grid-area: save-btn;
}



/* COMPONENTS  */

/* header  */

.main-header {
    padding: 10px 20px 10px 20px;
}

.main-header .main-nav li {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    border-inline-end: solid 1px var(--clr-2);
}

.main-header .main-nav li:last-child {
    border-inline-end: none;
}

.main-header .main-nav a {
    text-decoration: none;
    color: inherit;
}

.main-header .main-nav a:hover {
    color: var(--clr-2);
}


/* gallery  */

.gallery .filter-nav {
    background-color: var(--clr1);
    color: var(--clr-2);
    position: relative;
    bottom: 20px;
    width: 100vw;
    left: calc(-50vw + 50%);
    padding: 15px;
}

.gallery .filter-nav li:first-child:after {
    content: '🔍';
}

.gallery .filter-nav input {
    border-bottom: solid 2px;
    border-radius: 0px;
}

.gallery-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.gallery-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* meme gallery container  */
.saved-memes-container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
}

.saved-memes-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
}

/* footer  */

.main-footer {
    padding: 10px;
    width: 100%;
}

.main-footer p {
    font-family: montserrat-lite, sans-serif;
    margin: 10px;
}

/* logo  */
.logo img {
    height: 25px;
}

/* meme editor  */
.meme-editor {
    background-color: var(--clr-1);
    justify-content: space-around;
}

/* editor tools  */

.editor-tools img {
    height: 30px;
}

.editor-tools>* {
    margin-block-start: 10px;
}

.editor-tools a {
    font-size: 0.9em;
    text-decoration: none;
    display: block;
}

.editor-tools .input-hider {
    position: relative;
}

.editor-tools input.hidden-input {
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    opacity: 0;
    cursor: pointer;
}

/* canvas  */

canvas {
    display: block;
    margin: 0 auto;
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}

.canvas-container {
    align-self: center;
}

/* mobile  */
@media (min-width: 640px) {
    
}

/* tablet  */
@media (min-width: 700px) {

    .gallery-container, .saved-memes-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: 200px;
        place-content: center;
    }

    .meme-editor {
        flex-direction: row;
    }

    .meme-editor .editor-tools .share {
        align-self: flex-end;
    }

}

/* desktop */
@media (min-width: 1100px) {
    .canvas-container {
        min-width: 600px;
    }
}